* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Palanquin Dark", sans-serif;
}
html, 
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

#box1{
    width: 200px;
    height: 200px;
    background-color: crimson;
}
#box2{
    width: 200px;
    height: 200px;
    background-color: seagreen;
}