* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gang of Three";
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gang of Three";
    src: url(fonts/subset-GangofThree.ttf) format("truetype"),
      url(fonts/subset-GangofThree.woff) format("woff"),
      url(fonts/subset-GangofThree.woff2) format("woff2");
  }

html, body{
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
}

#page1, #page2, #page3 {
    height: 100vh;
    width: 100%;
    padding: 5vw 0;
}

#move {
    background-color: #D9FF06;
    color: black;
    display: flex;
    padding: 3vw 0;
    overflow: hidden;
}

.marque {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding-right: 30px;
    /* Making it default as set to -100% */
    transform: translateX(-100%);
}

.marque h1 {
    font-size: 70px;
}

.marque img {
    height: 80px;
}