@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@font-face {
  font-family: china;
  src: url(./3856NeueMachina.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Palanquin Dark", sans-serif; */
  /* font-family: "Source Code Pro", monospace; */
  /* font-family: "Space Grotesk", sans-serif; */
  font-family: "Sora", sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  padding: 30px;
  border: 3px solid white;
}

.box {
  margin: 20px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background: linear-gradient(to right bottom, rgb(240, 96, 125), crimson);
}

.circle {
  margin: 20px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: linear-gradient(to right bottom, lightblue, cadetblue);
}