* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Palanquin Dark", sans-serif;
    color: white;
}
html, 
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}


#box{
    width: 200px;
    height: 200px;
    background-color: crimson;
}

#box1{
    width: 200px;
    height: 200px;
    background-color: crimson;
}
#box2{
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
}

#box3{
    width: 200px;
    height: 200px;
    background-color: royalblue;
}

#nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

#part2{
    display: flex;
    align-items: center;
    gap: 50px;
}